# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
Unity/Sandy_Box/[Tt]emp/
Unity/Sandy_Box/[Oo]bj/
Unity/Sandy_Box/[Bb]uild
Unity/Sandy_Box/[Bb]uilds/
Unity/Sandy_Box/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
*.pdb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
/Unity/Sandy_Box/log2csv_logfiles
/Unity/Sandy_Box/Assembly-CSharp-Editor.csproj
/Unity/Sandy_Box/Assembly-CSharp.csproj
.DS_Store
*.meta~HEAD
Unity/Plugin Integration Example/Library/shadercompiler-UnityShaderCompiler.exe0.log
Unity/Plugin Integration Example/Assets/VRTracker/Scenes/IntroAssignation.unity
